Package: mapr-nifi
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-client (>= 7.1.0), mapr-hadoop-client (>= 3.3.4), zip
Conflicts: mapr-core (<< 7.1.0)
Maintainer: Hewlett Packard Enterprise
Description: Apache NiFi distribution included in HPE DataFabric Software Ecosystem Pack
Commit: __GIT_COMMIT__
Tag: __RELEASE_BRANCH__
